body {
    text-align: center;
    font-family: Arial;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    width: 300px;
    margin: auto;
}

.cell {
    width: 100px;
    height: 100px;
    font-size: 35px;
    cursor: pointer;
}